@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500|Montserrat|Playfair+Display|Allura');

:root {
  --heading-font: 'Alegreya', serif;
  --tagline-font: 'Playfair Display', serif;
  --fancy-font: 'Allura', cursive;
  --body-font: 'Montserrat', sans-serif;

  --nav-bg: #1117;
  --nav-bg-hover: #111b;

  --dark-colored-text: #a47d5e;
  --light-colored-text: #dfc691;
}

/*
  =====================
  = Utility Classes
  =====================
*/

.is-caps {
  font-variant: small-caps;
}

/* 
  =====================
  = Global 
  =====================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: var(--body-font);
}

/*
  =====================
  = Hero Section
  =====================
*/

.hero {
  background: #777777 url("../images/bread-bg.png") no-repeat;
  background-size: cover;
  height: 56rem;
  color: white;
  text-shadow: #222;
}

/*
  =====================
  = Navigation
  =====================
*/

nav {
  background-color: var(--nav-bg);
}

.nav-bar {
  width: 79%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > * {
  padding: 0;
  margin: 0;
  flex: 1;
}

.logo {
  font-family: var(--fancy-font);
  font-size: 2.75rem;
  text-align: left;
  padding: 0.7rem 0;
}

.nav-list,
.social-list {
  display: flex;
}

.nav-list {
  font-family: var(--heading-font);
  flex-basis: 25%;
  justify-content: space-between;
}

.social-list {
  justify-content: flex-end;
}

.nav-list li,
.social-list li {
  list-style-type: none;
  font-size: 1.05rem;
}

.social-btn {
  padding: 0 1.125rem;
}

.social-btn:last-of-type {
  padding-right: 0;
}

/*
  =====================
  = Hero Content
  =====================
*/

.tagline {
  font-family: var(--tagline-font);
  font-size: 6.0rem;
  letter-spacing: 0.3rem;
  padding: 12.0rem 0 0 0;
}

.blurb {
  font-size: 1.5rem;
}

.hero-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-variant: small-caps;
  font-size: 1.0rem;
  letter-spacing: 0.35rem;
  padding: 0.85rem 2.5rem;
  margin: 5.0rem 0 7.0rem 0;
  background-color: var(--nav-bg);
  border: none;
}

.hero-btn:hover {
  background-color: var(--nav-bg-hover);
  text-decoration: underline white;
}

/*
  =====================
  = Hero Dividers
  =====================
*/

.divider {
  font-family: var(--body-font);
  font-size: 2.0rem;
  padding: 3.0rem 0;
}

.divider > * {
  display: inline-block;
}

#divider1,
#divider5,
#divider9 {
  transform: translateY(-0.65rem);
}

#divider2,
#divider6 {
  transform-origin: 130%;
  transform: rotate(25deg);
}

#divider4,
#divider8 {
  transform-origin: -70%;
  transform: rotate(-25deg);
}

#divider9 {
  transform: translateY(-1.0rem);
}

.section-divider {
  background: transparent;
  position: relative;
  width: 120px;
  height: 120px;
  bottom: -40px;
  margin: 0 auto;
  border: solid 2px var(--light-colored-text);
  border-radius: 50%;
  text-align: left;
}

.section-divider:after {
  content: "";
  background: white url("../images/bread-divider.png") no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;

  /* Fixing slight offset of the ':after' pseudo-element and scaling it down */
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) scale(0.8);
}

/*
  =====================
  = About Section
  =====================
*/

.about {
  background: #f8f7f0 url("") no-repeat;
  background-size: cover;
  height: 56rem;
}

.about-container {
  width: 79%;
  margin: 0 auto;
}

.cake-blurb {
  width: 50%;
  padding: 0 3.0rem;
  float: left;
}